.container {
  margin: 0 auto;
  width: 100%;
}
.main {
  height: 100vh;
  #mainVideo {
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000000;
  }
}
