.container {
  margin: 0 auto;
  width: 100%;
}
.main {
  height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    #mainVideo {
      min-width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1000000;
    }
    .main__photo {
      position: relative;
      z-index: -1;
      width: auto;
      display: flex;
      justify-content: center;
      img {
        width: 50%;
      }
    }
  }
}
