.info {
  padding: 4em 0;
  background-color: rgba(0, 0, 0, 0.9);
  .info__text {
    width: 60%;
    margin: 0 auto;
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
    span {
      font-family: "Franklin_Gothic_Demi", sans-serif;
    }
  }
}
